header, footer {
    background-color: #fffdd0; /* This is a light yellow color */
    text-align: center;
    padding: 10px 0;
}

header h1, header p, footer p {
    margin: 0 auto;
    padding: 5px;
    max-width: 960px;
}

#cesiumContainer {
    width: 100%;
    height: calc(100vh - 120px); /* Adjust the 120px if your header/footer are larger */
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1, header p, footer p {
        max-width: 90%; /* Allows some margin on smaller screens */
    }
}
