html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

header, footer {
  background-color: #fffdd0;
  text-align: center;
  padding: 15px 0;
  width: 100%;
}

header h1, header p, footer p {
  margin: 0;
  padding: 5px;
}

#cesiumContainer {
  flex: 1;
  height: calc(100vh - 120px); /* Adjust based on header/footer height */
  position: relative; /* Needed for absolutely positioned children */
}

main {
  flex: 1; /* Grow to use available space */
  position: relative; /* Positioned relative to its normal position */
}

#instruction-box {
    position: absolute; /* Position absolutely within the cesiumContainer */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the box's own size */
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    border: 1px solid #ffd700; /* Yellow border */
    padding: 20px;
    z-index: 1000;
    max-width: 400px; /* Or any max-width you see fit */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
    border-radius: 10px; /* Optional: rounds the corners */
    text-align: center; /* Centers the text */
}

.slide {
    display: none; /* Hide all slides by default */
}

.slide.active {
    display: block; /* Only the active slide is shown */
}

/* Adjust the button styles as needed */
#instruction-box button {
    padding: 10px 20px;
    background-color: #ffd700; /* Yellow background to match the border */
    color: #000;
    border: none;
    border-radius: 5px; /* Optional: rounds the button corners */
    cursor: pointer;
    margin-top: 10px;
}

#instruction-box button:hover {
    background-color: #cca300; /* Darker yellow on hover */
}

/* Styles for the slide content */
.slide-content {
    display: none; /* Hide all slide content by default */
}

.slide-content.active {
    display: block; /* Show active slide content */
}

#navigation-buttons 
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

#navigation-buttons button { /* Updated selector */
  padding: 10px 20px;
  background-color: #ffd700;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

#navigation-buttons button:hover { /* Updated selector */
  background-color: #cca300;
}
  
/* Adding directional arrows next to the text */
#slide-back:before {
    content: '< ';
}

#slide-forward:after {
    content: ' >';
}

footer {
  padding: 15px 0;
  text-align: center;
  background-color: #fffdd0;
  width: 100%;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1, header p, footer p {
        max-width: 90%; /* Allows some margin on smaller screens */
    }
